
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    /* justify-content: center; */
    margin-top: 2%;
    margin-bottom: 3%;
}
.card {
    width: 18rem;
    margin-bottom: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
.container .card:hover{
    transform: scale(1.1);
        cursor: pointer;
}
.card-img-top {
    /* height: 200px; */
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.card-footer button {
    padding: 8px 16px;
    font-size: 14px;
}
.card-footer button{
    background-color: #e4002b;
        border: 1px solid #e4002b;
        border-radius: 50px;

        /* height: 45px */
}
.card-footer button:hover {
    background-color: #f8a024;
    border-color: #f8a024;
}
.dodai{
    height: 120px
}

/* reponsive */
/* Mobile */
@media(min-width: 375px) and (max-width: 812px) {
    .container{
        display: flex;
            justify-content: center;
    }
}