/* admin.css

.table-container {
    display: flex;
    flex-grow: 1;
    background-color: #fff;
}

.tabs {
    border-right: 1px solid #ccc;
}

.table {
    text-align: center;
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
}

.table th {
    border: 1px solid black;
    padding: 8px;
    background-color: lightgray;
}

.table td {
    border: 1px solid black;
    padding: 8px;
}

.button-wrapper {
    display: flex;
}

.button-wrapper button {
    margin-right: 10px;
} */
