.cart-h1 {
    margin-right: 59%;
    margin-top: 2%;
}
.cart-tong{
    display:flex;
    justify-content: center;
    gap: 6%;
}
.carttt{
    width: 47%;
    height: 100%;
    margin-bottom: 5%;
} 
.cart1{
        height: 44%;
        background: #fff;
        padding: 1.07142857rem;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
        border-radius: 8px;
        margin-bottom: 4%;
        display: flex;
}
.cart1 .image-cart{
    width: 205px;
    height: 166px;
}
.cart-combo{
    text-align: left;
    margin-left: 3%;
    width: 100%;
}
.cart-i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart2{
    width: 25%;
        height: 50%;
        padding: 30px 20px;
        background: #fff;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
        border-radius: 10px;
}
.cart2 h4{
    font-size: 1.5714285714rem;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-weight: 700;
}

/*  */
/* Input container */
.input-container {
    position: relative;
    margin: 20px;
}

/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background-color: transparent;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: black;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus+.input-label {
    top: -20px;
    font-size: 12px;
    color: black;
}

/* .input-field:focus+.input-label+.input-highlight {
    width: 100%;
} */

.input-container{
    display: flex;
}

.input-container button{
    width: 30%;
        height: 43px;
        border-radius: 50px;
        color: white;
        background: black;
        font-weight: 650;
            font-size: 12px;
}
.textline{
    text-align: left;
}
.mony{
    display: flex;
    justify-content: space-between;
}
.mony1{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 650;
}
.mony2{
    width: 100%;
    height: 40px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    padding: 5px 10px;
    background-color: #e4002b;
    border: 1px solid #e4002b;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    border-radius: 50px;
    
       
}
/* .cart-inputnumber{
    margin-left: 40%;
} */

@media(min-width: 375px) and (max-width: 812px) {
    .cart-h1{
        margin-right: 0%;
    }
    .cart-tong{
        display: block;
        padding: 15px;
    }
    .carttt{
        width: 100%;
    }
    .cart2{
        width: 100%;
        margin-top: 8%;
    }
    .cart1 .image-cart{
        width: 90px;
        height: 73px;
    }
    .cart-combo .combo-detail{
        display: none;
    }
    .cart-combo .cart-i{
        display: flex;
            justify-content: space-between;
            align-items: center;
    }
    /* .cart-combo .cart-inputnumber{
        margin-right: -25%;
    } */
}
